[core]
	editor = vim
	autocrlf = true
	safecrlf = true
	whitespace = trailing-space
    ignorecase = true
[alias]
    ig = "!f() { printf '.idea\n\n# Python part\n' > .gitignore && \
            curl -L -s https://github.com/github/gitignore/raw/master/Python.gitignore >> .gitignore && \
            printf '\n\n# Node part\n' >> .gitignore && \
            curl -L -s https://github.com/github/gitignore/raw/master/Node.gitignore >> .gitignore ;}; f"
    ag = "!f() { eval $(ssh-agent -s) && ssh-add ~/.ssh/github && ssh-add ~/.ssh/bitbucket && ssh-add ~/.ssh/gitlab ;}; f"
	githubuser = "!f() { git config user.name swoiow && git config user.email swoiow@users.noreply.github.com ;}; f"
	devuser = "!f() { git config user.name DevUser && git config user.email user@localhost.dev ;}; f"
    setcrlf = "!f() { case \"$(uname -s)\" in \
                        *WIN*|*NT*|MSYS*) git config --global core.autocrlf true ;; \
                        *) git config --global core.autocrlf input ;; \
                      esac ;}; f"
[color]
	branch  = auto
	diff  = auto
	interactive  = auto
	status = auto
	ui = true
