services:
  aria2:
    build:
      context: .
      dockerfile: Dockerfile
    image: aria2
    container_name: aria2
    user: "65534:65534"
    restart: unless-stopped
    volumes:
      - ./configs:/app/configs
      - /mnt/aria2:/app/downloads
    networks: [aria2net]

  caddy:
    image: caddy:2
    container_name: caddy
    restart: unless-stopped
    ports:
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - /mnt/aria2:/srv/aria2:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on: [aria2]
    networks: [aria2net]

networks:
  aria2net:

volumes:
  caddy_data:
  caddy_config:
